<!DOCTYPE html>
<div class="modal-header">
  <h3 class="modal-title">{{isEdit ? 'Edit' : 'Add'}} User</h3>
</div>
<div cg-busy="saveUserPromise"></div>
<div cg-busy="getUserPromise"></div>
<form role="form" name="AddEditUserForm" novalidate>
	<div class="modal-body">
    	<alert ng-show="cp.error" type="warning" close="cp.error=false">
    		{{cp.errorMessage}
    	</alert>
    	<div class="username" ng-show="isEdit">
      		Username: <strong>{{user.username}}</strong>
    	</div>
    	<div class="form-group" ng-hide="isEdit" show-errors>
      		<label for="username">Username</label>
      		<input class="form-control" type="text" name="username"  
      		  ng-model="user.username" id="username" required />
      		<div 
      		  ng-show="AddEditUserForm.username.$error.required && AddEditUserForm.username.$dirty && AddEditUserForm.username.hasVisited">
        	<p>Please, type in an username.</p>
      	</div>
    </div>
    <div class="form-group" show-errors>
      	<label for="name">Name</label>
      	<input class="form-control" type="text" name="name" ng-model="user.name" 
      		id="name" required />
      	<div 
      	  ng-show="AddEditUserForm.name.$error.required && AddEditUserForm.name.$dirty && AddEditUserForm.name.hasVisited">
        	<p>Please, type in a name.</p>
      	</div>
    </div>
    <div class="form-group" show-errors>
      	<label for="email">E-mail</label>
      	<input class="form-control" type="email" name="email" ng-model="user.email" 
      		id="email" required />
       	<div ng-show="AddEditUserForm.email.$error.required && AddEditUserForm.email.$dirty && AddEditUserForm.email.hasVisited">
        	<p>Please, type in an email address.</p>
      	</div>
      	<div ng-show="AddEditUserForm.email.$error.email && AddEditUserForm.email.$dirty && AddEditUserForm.email.hasVisited">
        	<p>Please, type in a valid email address.</p>
      	</div>
    </div>
    <div class="form-group" ng-if="userIsAdmin" show-errors>
      	<label for="group">Type</label>
     	 <select name="group" ng-model="user.group" id="group" class="form-control" 
     	   data-ng-options="type.value as type.label for type in userTypes" required />
      	</select>
      	<div 
          ng-show="AddEditUserForm.group.$error.required && AddEditUserForm.group.hasVisited">
    		<p>Please, select an user type.</p>
      	</div>
    </div>
    <div class="form-group" ng-if="passwordEdit || !isEdit" show-errors>
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" ng-model="user.password" 	
      	id="password" required />
      <div ng-show="AddEditUserForm.password.$error.required && AddEditUserForm.password.$dirty && AddEditUserForm.password.hasVisited">
        <p>Please, type in a password.</p>
      </div>
    </div>
    <div class="form-group" ng-if="passwordEdit || !isEdit" show-errors>
      	<label for="password2">Confirm password</label>
      	<input class="form-control" type="password" name="password2" 
      	  password-match="user.password" ng-model="user.password2" id="password2" 
      	  required />
      	<div ng-show="AddEditUserForm.password2.$error.required && AddEditUserForm.password2.$dirty && AddEditUserForm.password2.hasVisited">
        	<p>Please, confirm the password.</p>
      	</div>
      	<div ng-show="!AddEditUserForm.password2.$error.required && !AddEditUserForm.password.$error.required  && AddEditUserForm.password2.$dirty && user.password!=user.password2 && AddEditUserForm.password2.hasVisited">
        	<p>Passwords do not match</p>
      	</div>
    </div>
    <div class="user-device-browser" ng-if="folderLoaded">
      	<div class="browser">
        	<label>Root folder for this user</label>
        	<div class="foldersList">
          		<div
            		data-tree-view="true"
            		data-folders="folders"
            		data-tree-id="devBrowserUserRoot"
            		data-selected-folder="userRootFolder"
            		data-tree-show-search="false"
            		data-node-callback="selectDevice"
           	 		data-collection-callback="selectFolder"
            		data-hide-root="false"
            		data-hide-device="true"
            		data-hide-favorite="true"
            		data-from-modal="true">
          		</div>
        	</div>
      	</div>
      </div>
  </div>
  <div class="modal-footer">
    <input type="button" class="btn link-button" ng-click="cancel()" value="Cancel">
    <button ng-click="saveUser(user)" class="btn blue-btn" ng-disabled="AddEditUserForm.$invalid">{{isEdit ? 'Save changes' : 'Add user'}}</button>
  </div>
</form>
