<centered><span><div class="header"> 
           <button type="submit" class="link-button" 
     	      ng-click="continueConfig()" value="Continue" 
     	      ng-disabled="deviceIsSelected()">Continue
           </button>

      <p class="item-detail">
      <span><strong>UUID (optional): </strong> <input type="text" ng-model="uuid" name="uuid"/> </span></p>
</div>
<div class="templates">
      <label>Template browser</label>
      <div class="templateList">
      <div
        data-tree-view="true"
        data-tree-id="templateBrowser"
        data-tree-show-search="false"
        data-collection-callback="selectFolder"
        data-node-callback="selectDevice"
	data-selected-folder="selectedFolder"
        data-hide-root="true"
	data-expand-all="false"
      >
   
      </div>
      
</div>
</span>
</centered>
