<div class="permissions">
  <alert ng-show="cp.error" type="warning" close="cp.error=false">{{cp.errorMessage}}</alert>
  <p>
      <div class="form-group col-md-6" ng-init="loadUsers()">
    <div class="row">
        <!-- <label for="username">Permit to:</label> -->
        <input type="text" 
		name="publisher_username" ng-model="publisher_username" typeahead-on-select="addUser(username,'publisher')" 
				      placeholder="Type in a jid, username@domain" 
          		ng-keyup="$event.keyCode == 13 ? addUser(publisher_username,'publisher') : null"
		/>
      <div class="col-md-6">
        <label>Publishers : </label>
        <table class="table" ng-show="showUsers">
          <tr ng-repeat="user in node.affiliations['publisher']" >
            <td>{{user}}</td>
            <td><a href ng-click="removeUser(user,'publisher')" title="Remove from list" class="close-btn"><i class="fa fa-times"></i></a></td>
          </tr>
          <tr ng-repeat="user in usersToAdd['publisher']" >
            <td>{{user}}</td>
            <td><a href ng-click="removeUser(user)" title="Remove from list" class="close-btn"><i class="fa fa-times"></i></a></td>
          </tr>
        </table>
    </div>
</div>    
    <div class="row">
        <!-- <label for="username">Permit to:</label> -->
        <input type="text" 
		name="owner_username" ng-model="owner_username" typeahead-on-select="addUser(owner_username,'owner')" 
				      placeholder="Type in a jid, username@domain" 
          		ng-keyup="$event.keyCode == 13 ? addUser(publisher_username,'owner') : null"
		/>
      <div class="col-md-6">
        <label>Owner : </label>
        <table class="table" ng-show="showUsers">
          <tr ng-repeat="user in node.affiliations['owner']" >
            <td>{{user}}</td>
            <td><a href ng-click="removeUser(user)" title="Remove from list" class="close-btn"><i class="fa fa-times"></i></a></td>
          </tr>
          <tr ng-repeat="user in usersToAdd['owner']" >
            <td>{{user}}</td>
            <td><a href ng-click="removeUser(user)" title="Remove from list" class="close-btn"><i class="fa fa-times"></i></a></td>
          </tr>
        </table>
    </div>
</div>
    <div class="row">
        <!-- <label for="username">Permit to:</label> -->
        <input type="text" 
		name="outcast_username" ng-model="outcast_username" typeahead-on-select="addUser(outcast_username,'outcast')" 
				      placeholder="Type in a jid, username@domain" 
          		ng-keyup="$event.keyCode == 13 ? addUser(publisher_username,'outcast') : null"
		/>
      <div class="col-md-6">
        <label>Outcast :</label>
        <table class="table" ng-show="showUsers">
          <tr ng-repeat="user in node.affiliations['outcast']" >
            <td>{{user}}</td>
            <td><a href ng-click="removeUser(user,'outcast')" title="Remove from list" class="close-btn"><i class="fa fa-times"></i></a></td>
          </tr>
          <tr ng-repeat="user in usersToAdd['owner']" >
            <td>{{user}}</td>
            <td><a href ng-click="removeUser(user,'owner')" title="Remove from list" class="close-btn"><i class="fa fa-times"></i></a></td>
          </tr>
        </table>
      </div>
    </div>
</div>
	 <button type="submit" class="link-button" 
     	      ng-click="continue()" value="Continue" 
     	      >Continue
           </button>
 <div cg-busy="usersGet"></div>
  </div>
