<centered><span> <div class="references">
           <button type="submit" class="link-button"
     	      ng-click="continue()"
     	      >Continue
           </button>
<div class="referenceList">
    <div
      data-tree-view="true"
      data-tree-id="deviceReferenceBrowser"
      data-tree-show-search="false"
      data-expand-all="true"
      data-collection-callback="selectFolder"
      data-selected-folder="selectedFolder"
      data-node-callback="selectFolder"
      data-hide-root="true"
       >
    </div>
</div>
</div>
</span>
</centered>
