<centered><span><div class="header"> 
		
      <button type="submit" class="link-button" 
     	      ng-click="continueConfig()" value="Continue" 
     	      ng-disabled="deviceIsSelected()">Continue
      </button>
</div>
</span>
<span> <div class="templates"> 
<div class="templateList">
    <div
      data-tree-view="true"
      data-tree-id="templateBrowser"
      data-tree-show-search="true"
      data-collection-callback="selectFolder"
      data-node-callback="selectDevice"
       >
    </div>
  </div> 
</div> </span>
