

<div class="container-fluid" > 
	<li ui-sref-active="active> 
	 <input type="file" name="csvfile_data" ng-file-select="onFileSelect($files)" id="csvfile_data" />
	</li>
<li ui-sref-active active="active">
	<li ui-sref-active="active">
		<a href="#" ui-sref="devicecreate.template({type:'device'})">Device</a>
	</li>
	<li ui-sref-active="active">
		<a href="#" ui-sref="devicecreate.template({type:'adapter'})">Adapter</a>
	</li>
	<li ui-sref-active="active">
		<a href="#" ui-sref="devicecreate.template({type:'gateway'})">Gateway</a>
	</li>
	<li ui-sref-active="active">
		<a href="#" ui-sref="devicecreate.template({type:'location'})">Location</a>
	</li>
	<li ui-sref-active="active">
		<a href="#" ui-sref="devicecreate.template({type:'reference'})">Reference</a>
	</li>
	<li ui-sref-active="active">
		<a href="#" ui-sref="devicecreate.template({type:'collection'})">Collection</a>
	</li>

</div>
</form>
												    </div>
