<div class="modal-header">
  <h3 class="modal-title">Manage permissions</h3>
</div>
<div class="modal-body">
  <alert ng-show="cp.error" type="warning" close="cp.error=false">{{cp.errorMessage}}</alert>
  <p>Here you can manage which users have access</p>
  <p><strong ng-if="device.hasTransducers()">Device Name: </strong><strong ng-if="!device.hasTransducers()">Folder Name: </strong>{{node.name}}</p>
    <div class="row">
      <div class="form-group col-md-6" ng-init="loadUsers()">
        <!-- <label for="username">Permit to:</label> -->
        <input type="text" 
		name="username" ng-model="username" typeahead-on-select="addUser(username,'publisher')" 
			placeholder="Type in a name" 
          		ng-keyup="$event.keyCode == 13 ? addUser(username,'publisher') : null"
		/> 
        <p ng-show="isAlreadySelected">User already selected</p>
      </div>
      <div class="col-md-6">
        <label>Give publish access to : </label>
        <table class="table" ng-show="showUsers">
          <tr ng-repeat="user in node.affiliations['publisher']" >
            <td>{{user}}</td>
            <td><a href ng-click="removeUser(user)" title="Remove from list" class="close-btn"><i class="fa fa-times"></i></a></td>
          </tr>
          <tr ng-repeat="user in usersToAdd['publisher']" >
            <td>{{user}}</td>
            <td><a href ng-click="removeUser(user)" title="Remove from list" class="close-btn"><i class="fa fa-times"></i></a></td>
          </tr>
        </table>
        <div cg-busy="usersGet"></div>
      </div>
    </div>
</div>    
<div class="modal-footer">
  <button class="btn link-button" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn blue-btn" ng-click="setPermissions()">Set Permissions</button>
  <!--<button type="button" class="btn blue-btn" ng-click="setOwnerPermissions()">Add Owner</button>-->
</div> 
