<div class="container-fluid" >
  <div class="row" >
    <div class="col-md-12">
        <h2 class="pull-left title"> {{selectedFolder.name}}</h2>
        <div class="pull-left folder-actions">
    	  <a class="btn gray-btn" ng-click="reload()" >
	    <i class="fa fa-refresh"></i>Refresh</a>
      <button ng-if="hasMap()" type="button"
        class="btn gray-btn"
        ui-sref="device.map({'folder':selectedFolder.id})">
      <i class="fa fa-map-marker">  </i>Map View
      </button>
	  <a ui-sref="device.view({id: selectedFolder.id})"> </a>
          <a ng-if="isOwner(selectedFolder)"
		  ui-sref="device.permissions({id:selectedFolder.id,isFolder:1})"
		  class="btn gray-btn"><i class="fa fa-cog"></i>Manage Permissions</a>
    <a ui-sref="device.list.favorites({'id':selectedFolder.id})" class="btn gray-btn">
	    <i class="fa fa-thumb-tack"></i>Add to Favorites</a>
          <button ng-if="isPublisher(selectedFolder) || isOwner(selectedFolder)" type="button"
		  class="btn gray-btn" ui-sref="device.list.edit({folders:selectedFolder.id})" >
		  <i class="fa fa-pencil-square-o"></i>Edit</button>
          <button ng-if="!isRootOrFavorite && (isOwner(selectedFolder))"
		  type="button" class="btn gray-btn" ng-click="deleteFolder()"
		  ng-cloak><i class="fa fa-trash-o"></i>Remove</button>
        </div>
      </div>
<div class = "row">
        <table class="table">
          <thead>
            <th>Device Name</th>
            <th>Device Info</th>
          </thead>
          <tbody>
            <tr ng-repeat="device in devices" class="device-row">
              <td class="device-info devices-wrap">
                {{device.name}}
                <div class="btn-group device-list-actions">

			<span><a ui-sref="device.list({folder:device.id})"
			   class="btn btn-link" ng-if='device.metaType != "device"'>Folder</a>
			<a ui-sref="device.view.detail({id:device.id})"
			   class="btn btn-link">Meta</a> |</span>
                  <span ng-if="canEdit(device)"><a
				  ui-sref="device.view.edit({id:device.id})"
				  class="btn btn-link">Edit</a> |</span>
                  <span ng-if="!device.isFavorite"><a ui-sref="device.view.favorites({id:device.id})"
				  class="btn btn-link">Add to favorite</a></span>
                  <span ng-if="isOwner(device)"><a ui-sref="device.permissions({id:device.id})"
				  class="btn btn-link">Manage Permissions</a></span>
                </div>
              </td>
	      <td>{{device.info}}</td>
            </tr>
          </tbody>
        </table>
        <div cg-busy="loadDevices"></div>
        <div cg-busy="deleteFolder"></div>
        <div class="warning" ng-show="devices.length <=0">There are no devices in this folder</div>
    </div>
  </div>
</div>
