<div class="config">
      <div class="header"> 
	      <button type="submit" class="link-button" 
		      ng-click="submitConfig()" value="Continue" 
		      >Continue
	      </button>
      </div>
<label>Event Node Configuration </label>
<span><table class="table">
  <thead>
    <th>Var</th>
    <th>Config Type</th>
    <th>Label</th>
    <th>Value</th>
  </thead>
  <tbody>
	  <tr ng-repeat="config in template.config">
		  <td>{{config.var}}</td>
		  <td>{{config.type}}</td>
		  <td>{{config.label}}</td>
		  <td><input type="string" ng-model="config.value"></td>
	  </tr>
	</table>
	</span>
</div>
