<div class="modal-header">
  <h3 class="modal-title">Password recovery</h3>
</div>
<form name="recoverPassword" role="form" ng-submit="forgotPassword()" novalidate>
  <div class="modal-body">
    <alert ng-show="cp.error" type="warning" close="cp.error=false">{{cp.errorMessage}}</alert>
    <p>Enter your username, and we will send you an email to reset your password</p>
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" ng-model="cp.username" id="username" required />
      </div>
  </div>    
  <div class="modal-footer">
    <div cg-busy="cp.emailPost"></div>
    <a class="btn btn-link" ng-click="cancel()">Cancel</a>
    <button type="submit" class="btn btn-primary" ng-disabled="recoverPassword.$invalid">Reset password</button>
  </div> 
</form>