<div class="login">
  <h1 class="text-center">Sensor Andrew</h1>
  <h3 class="">Set a new password for your account: {{rp.username}}</h3>
  <form name="resetPasswordForm" ng-submit="resetPassword()" novalidate>
    <div class="form-group" show-errors>
      <label for="token">Recovery code</label>
      <input class="form-control" type="text" name="token" ng-model="rp.token" id="token" required />
      <small>This is the recovery code you received through email</small>
    </div>
    <div class="form-group" show-errors>
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" ng-model="rp.password" id="password" required />
    </div>
    <div class="form-group" show-errors>
      <label for="passwordConfirm">Confirm password</label>
      <input class="form-control" type="password" name="passwordConfirm" password-match="rp.password" ng-model="rp.passwordConfirm" id="passwordConfirm" required />
      <p class="help-block">Passwords must match</p>
    </div> 
    <a class="btn btn-link" ng-click="cancel()">Cancel</a>
    <button type="submit" class="btn btn-primary" ng-disabled="resetPasswordForm.$invalid">Change</button>
  </form>
</div>
