<div class="modal-header">
  <h3 class="modal-title">Change account password</h3>
</div>
<form name="changePasswordForm" novalidate>
  <div class="modal-body">
    <alert ng-show="cp.error" type="warning" close="cp.error=false">{{cp.errorMessage}}</alert>
      <div class="form-group" show-errors>
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" ng-model="user.password" id="password" required />
        <div ng-show="changePasswordForm.password.$error.required && changePasswordForm.password.$dirty && changePasswordForm.password.hasVisited">
          <p>Please, type in a password.</p>
        </div>
      </div>
      <div class="form-group" show-errors>
        <label for="password_confirm">Confirm password</label>
        <input class="form-control" type="password" name="password2" password-match="user.password" ng-model="user.password2" id="password2" required />
        <div ng-show="changePasswordForm.password2.$error.required && changePasswordForm.password2.$dirty && changePasswordForm.password2.hasVisited">
          <p>Please, confirm the password.</p>
        </div>
        <div ng-show="!changePasswordForm.password2.$error.required && !changePasswordForm.password.$error.required  && changePasswordForm.password2.$dirty && user.password!=user.password2 && changePasswordForm.password2.hasVisited">
          <p>Passwords do not match</p>
        </div>
      </div> 
  </div>
  <div class="modal-footer">
    <button class="btn link-button" ng-click="cancel()">Cancel</button>
    <button class="btn blue-btn" ng-disabled="changePasswordForm.$invalid" ng-click="changePassword()">Change password</button>
    <div cg-busy="changePasswordPromise"></div>
  </div>
</form>
